<div class="container mb-2">
  <div class="d-flex align-items-center justify-content-end">
    <button class="btn btn-primary mt-4" type="button">Filters</button>
  </div>
  <div class="d-flex py-4">
    <div class="row my-2 justify-content-between">
      <% @spooners.each do |spooner| %>
        <div class="col-lg-3 mb-4" >
          <div class="card d-flex justify-content-between h-100">
            <% if spooner.img.attached? %>
              <div class="w-100" style="aspect-ratio: 1; background-image: url('<%= cl_image_path spooner.img.first.key,  width: 500 %>'); background-size: cover;"></div>
            <% else %>
              <div class="w-100" style="aspect-ratio: 1; background-image: url('<%= image_path "person-placeholder.jpg",  width: 500 %>'); background-size: cover;"></div>
            <% end %>
            <div class="card-body" style="background-color: rgb(255,143,177,0.2); padding: 10px 15px;">
              <div class="row">
                <div class="col-lg-6">
                  <p class="card-text d-flex align-items-center" style="margin-bottom: 0px; color: black; font-size: 22px;"><strong><%=link_to spooner.name, spooner_path(spooner), class: "text-decoration-none"%></strong></p>
                  <p class="card-text d-flex align-items-center" style="margin-bottom: 0px; color: black;"><iconify-icon icon="mdi:silverware-spoon"></iconify-icon><%=spooner.spoon_type.capitalize%></p>
                  <p class="card-text d-flex align-items-center" style="margin-bottom: 0px; color: black;"><iconify-icon icon="bx:male-female"></iconify-icon><%=spooner.gender.capitalize%></p>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-end">
                  <p class="card-text" style="margin-bottom: 0px; color: black; font-size: 36px;">$<%=spooner.price%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
