<div class="container mb-2">
  <div class="d-flex p-2">
    <h1><%= @spooner.name %></h1>
    <div class="row">
      <div class="col-6">
        <%= image_tag "person-placeholder.jpg" %>
          <% @spooner.img.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
      </div>
      <div class="col-6">stuff to write and make booking</div>
      </div>
    </div>
    <div class="card" style="width: 36rem;">
      <p>Age: <%= @spooner.age %> years</p>
      <p>Gender: <%= @spooner.gender %></p>
      <p>Prefers to be: <%= @spooner.spoon_type %></p>
      <p>Price: $<%= @spooner.price %></p>
      <p>Details: <%= @spooner.overview %></p>
    </div>
  </div>
</div>
<button type="button"><%= link_to "Edit Spooner", edit_spooner_path(@spooner) %>
</button>
<button type="button"> <%= link_to "Delete Spooner",
    spooner_path(@spooner),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></button>

</div>
