<div class="container">
<h1><%= @spooner.name %></h1>
  <p>Age: <%= @spooner.age %> years</p>
  <p>Gender: <%= @spooner.gender %></p>
  <p>Prefers to be: <%= @spooner.spoon_type %></p>
  <p>Price: $<%= @spooner.price %></p>
  <p>Details: <%= @spooner.overview %></p>
  <%# <% if current_user.email == @spooner.email %>
    <%= link_to "Edit Spooner", edit_spooner_path(@spooner) %>
    <%= link_to "Delete Spooner",
    spooner_path(@spooner),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <%# <% end %>
</div>
