  <body style="background-color:#FCE2DB opacity:0.6;">
    <div class="d-flex p-2 m-8 justify-content-center">
      <h1> 🥄 <%= @spooner.name %> 🥄 </h1>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-6 p-4 justify-content-center">
        <% if @spooner.img.attached? %>
          <% @spooner.img.each do |photo| %>
            <div><%= cl_image_tag photo.key, height: 300, width: 500, crop: :fill, :style => "margin-bottom: 16px; border-radius: 16px" %></div>
          <% end %>
        <% else %>
        <%= image_tag "person-placeholder.jpg", width: 500 %>
      <% end %>
      </div>
        <div class="col-lg-6 p-4 m-10 justify-content-center">
          <div class="p-4" style="border-style:solid; border-radius: 16px;">
            <h4 style="color:#80489C;" class="mb-3">Age: <%= @spooner.age %> years</h4>
            <h4 style="color:#80489C;" class="mb-3">Gender: <%= @spooner.gender %></h4>
            <h4 style="color:#80489C;" class="mb-3">Prefers to be: <%= @spooner.spoon_type %></h4>
            <h4 style="color:#80489C;" class="mb-3">Price: $<%= @spooner.price %></h4>
            <h4 style="color:#80489C;" class="mb-3">Details: <%= @spooner.overview %></h4>
          </div>
          <div class="p-5 d-flex justify-content-center">
              <button class="btn btn-show"><%= link_to "Get Spoonin\'", new_spooner_booking_path(@spooner)  %></button>
          </div>
        </div>
      </div>
    </div>
  </div>

<%# Reviews %>

  <div class="container pb-5">
    <p><strong>Reviews</strong></p>
    <%= render "reviews/new", { spooner: @spooner, review: @review }  %>
    <% if @spooner.reviews.size > 0 %>
    <p><strong>Average rating:</strong>
      <% @spooner.solid_stars.times do %>
      <iconify-icon icon="material-symbols:star"></iconify-icon>
      <% end %>
      <% @spooner.half_stars.times do %>
      <iconify-icon icon="material-symbols:star-half"></iconify-icon>
      <% end %>
      <% @spooner.empty_stars.times do %>
      <iconify-icon icon="material-symbols:star-outline"></iconify-icon>
      <% end %>
    </p>
    <ul class="list-group">
      <% @spooner.reviews.each do |review| %>
        <li class="list-group-item">
        <% review.rating.times do %>
        <iconify-icon icon="material-symbols:star"></iconify-icon>
        <% end %>
        <% (5 - review.rating).times do %>
        <iconify-icon icon="material-symbols:star-outline"></iconify-icon>
        <% end %>
        <small><%= link_to "[Delete]",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></small>
        </li>
        <li class="list-group-item mb-3"><em><%= review.content %></em></li>
      <% end %>
    </ul>
    <br>
    <% end %>
  </div>
</body>
