<div class="container pb-3">
<h1>New Review For<%= @spooner.name %></h1>
<%= simple_form_for [@spooner, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-light" %>
<% end %>
</div>
